



<h3> Chat </h3>
  <div id="app-mensajes" class="app-mensajes">

    <div *ngFor="let chat of _cs.chats | async"
          [ngClass]="{'text-right': _cs.usuario.user.uid == chat.uid}">

          <p *ngIf="chat.primerMensaje"
              style="text-align: center;
                     font-size: 12px;
                     color: green;">
                {{ chat.hora | date }}
          </p>

      <span class="badge" id="test" [ngClass]="{ 'badge-primary': _cs.usuario.user.uid == chat.uid,
                                      'badge-success': _cs.usuario.user.uid != chat.uid }">

      <img [src]="chat.picture | nophoto" class="img-responsive img-circle customThumbnail">
      {{ chat.nombre }}

      </span>

      <p>
          {{ chat.mensaje }}
      <br>
                <small style="font-size:8px;">{{ chat.hora | date:'shortTime' }}</small>
      </p>



    </div>

</div>

<input [(ngModel)]="mensaje"
        name="mensaje"
        (keyup.enter)="enviar()"
        class="form-control"
        placeholder="mensaje...">
