
<div class="container main-container">

  <h1>Firechat</h1>
  <hr>
  <div *ngIf="_cs.usuario"
        class="row animated fadeIn fast">
    <div class="col-md-12 text-right">
      <button (click)="_cs.logout()"
              class="btn btn-outline-danger"
              type="button" name="button">Salir</button>
    </div>
  </div>

  <div *ngIf="!_cs.usuario"
        class="animated fadeIn fast">
      <app-login></app-login>
  </div>

  <div *ngIf="_cs.usuario"
        class="chat-window animated fadeIn fast">


    <app-chat> </app-chat>

  </div>

</div>
