/* You can add global styles to this file, and also import other style files */
.main-container{
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero{
  cursor: pointer;
}

.img-circle{
  border-radius: 58px;
}

.chat-window{
  padding: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #4080FF;
  border-radius: 20px;
}

.app-mensajes{
  overflow-y:scroll;
  height:270px;
  /*background:gray;*/
  padding: 5px;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.customThumbnail {
  /* padding: .25rem; */
background-color: #fff;
border: 1px solid #ddd;
border-radius: -13.75rem;
transition: all .2s ease-in-out;
max-width: 8%;
height: auto;
}



#test {
        display: initial;
}

.badge a  {
      display: initial;
      padding: 0.25em 0.4em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
}
